---
import { db, User, eq } from "astro:db";
import Layout from "~/components/Layout.astro";
import Input from "~/components/Input.astro";
import FormButton from "~/components/FormButton.astro";

const user = Astro.locals.user;
if (!user) {
  return Astro.redirect("/signin");
}

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const name = formData.get("name");
  if (typeof name === "string") {
    await db
      .update(User)
      .set({
        name,
      })
      .where(eq(User.id, user.id));
  }
  return Astro.redirect(Astro.url, 303);
}
---

<Layout>
  <main class="max-w-lg mx-auto my-20 p-4">
    <h1 class="text-4xl font-bold mb-4">Profile</h1>
    <form method="post">
      <label for="name">Name</label>
      <Input name="name" type="text" value={user.name} />
      <br />
      <FormButton name="Update profile" />
    </form>
  </main>
</Layout>
