---
import Layout from "~/components/Layout.astro";
import Input from "~/components/Input.astro";
import FormButton from "~/components/FormButton.astro";
---

<Layout>
  <main class="max-w-lg mx-auto my-20 p-4">
    <h1 class="text-4xl font-bold mb-4">Sign in</h1>
    <form id="signin" method="post" action="/api/signin">
      <label for="username">Username</label>
      <Input name="username" type="text" /><br />
      <label for="password">Password</label>
      <Input type="password" name="password" /><br />
      <FormButton name="Continue" />
      <p id="form-error" class="text-red-600 mt-2"></p>
    </form>
    <p>
      Dont have an account?
      <a
        class="mt-4 text-center underline inline-flex hover:text-indigo-600"
        href="/signup">Create an account</a
      >
    </p>
  </main>
</Layout>
